.button{
    padding: 30px;
    border: 3px solid black;
    border-radius: 5px;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#purple{
    background-color: purple;
}